#button1 {
  /* height: 20px !important; */
}

.shadow {
  box-shadow: 0px 0px 9px 0px #7a1c7ab3 !important;
}

.input:focus {
  box-shadow: 0px 0px 9px 3px #7a1c7ab3 !important;
  /* color: rgb(187, 18, 18) !important; */
  transition: 0.5s !important;
  transition: all;
}
.border-white {
  border: 2px solid white;
}

.bg-none {
  background: none !important;
}

.positionModify {
  top: -30% !important;
  left: 5% !important;
  z-index: 200;
}

.rounded-50 {
  border-radius: 500px !important;
}
.circle1 {
  width: 75px;
  height: 75px;
}
.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 500px;
}
.circleComment {
  width: 40px;
  height: 40px;
  border-radius: 500px;
}
.circleComment2 {
  width: 48px;
  height: 48px;
  border-radius: 500px;
}
.fs-8 {
  font-size: 1rem !important;
  /* font-weight: bold; */
}
.commentNumber {
  top: 193.8px;
  left: 115px;
  font-size: 0.9rem;
}
.w-2 {
  width: 35px;
}
.noBorder:focus {
  outline: none !important;
}
