@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.App {
  /* background-color: #d4d17f6b !important; */
  min-height: 100vh;
}

.fw-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fw-medium {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fw-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fw-italic {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: italic;
}

#loginForm,
#registerForm {
  height: 100vh;
}

#customBr1 {
  height: 2px;
  background-color: #7a1c7ab3;
}

.transparent {
  background-color: transparent !important;
}

.x {
  position: absolute;
  right: 60px;
  top: 20px;
  z-index: 50;
}
.dots {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 50;
}
.z-index-50 {
  z-index: 50;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
}
.z-index-500 {
  z-index: 500;
}
.z-index-1000 {
  z-index: 1000;
}
.circle1 {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
.footer {
  background-color: #7a1c7a;
}
.footerMargin {
  margin-bottom: 80px;
}
.h-80vh {
  height: 80vh;
}
.borderSpecial:focus {
  outline: none !important;
  outline-offset: none !important;
}
